$brand-color: #f59c00;
h1 {
  display: block;
  margin : 1rem auto;
  text-align: center;
  width: 10rem;
}
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ededed;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
    font-weight: 100;
    &:focus-within {
      border: 2px solid #ffc257 !important;
    }
  }
}
button {
  margin: 2rem auto;
  display: block;
  background-color: $brand-color;
  border: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 15rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  transition: all 300ms ease;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    top: 1px;
  }
}